.arr {
  width: 1.18em;
  height: 1em;
  fill: #3e3e40;
}
.arrow {
  width: 0.59em;
  height: 1em;
  fill: #3e3e40;
}
.cart {
  width: 0.88em;
  height: 1em;
  fill: #41414e;
}
.facebook-icon {
  width: 0.5em;
  height: 1em;
  fill: #a9abb0;
}
.instagram-icon {
  width: 1em;
  height: 1em;
  fill: #a9abb0;
}
.kiwi {
  width: 1.22em;
  height: 1em;
  fill: #C6C6C6;
}
.nav {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.remove {
  width: 1em;
  height: 1em;
  fill: initial;
}
.twitter-icon {
  width: 1.21em;
  height: 1em;
  fill: #a9abb0;
}
.wishlist {
  width: 1.14em;
  height: 1em;
  fill: #454553;
}
.youtube-icon {
  width: 1.42em;
  height: 1em;
  fill: #a9abb0;
}