<div class="style__switcher">
	<button class="style__switcher-open" title="Настройки шаблона">
		<span class="icon-settings"></span>
	</button>
	<div class="style__switcher-wrap">
		<div class="style__switcher-content">
			<h3>Цветовая схема</h3>
			<div>
				Цвет 1: # <input type="text" id="picker" maxlength="6" size="6" class="style__switcher-form" value="8ccade" readonly>
			</div>
			<div>
				Цвет 2: # <input type="text" id="picker2" maxlength="6" size="6" class="style__switcher-form" value="737271" readonly>
			</div>
			<h3>Ширина</h3>
			<ul class="style__switcher-layout clearfix">
				<li class="full__layout selected">100%</li>
				<li class="fixed__layout">1500px</li>
			</ul>
			<br>
			<span class="cookie__style-del style__switcher-btn">Сбросить</span>
			<a href="#tools__modal" class="tools style__switcher-generate style__switcher-btn">Получить код</a>
		</div>
	</div>
</div>